.row.mb-2
  - if active_tour.available?
    = link_to new_tour_booking_path(active_tour_slug: active_tour.slug), class: 'card', style: 'width: 100%' do
      .card-block
        %p.mb-0
          = active_tour.tour_title
          %br
          = active_tour.date_period_fancy
  - else
    = render 'active_tours/active_tour_disabled', active_tour: active_tour
