.row.mb-2
  - if active_tour.available?
    %a.card{href: active_tour_path(active_tour), style: 'width: 100%'}
      .card-block
        %p.mb-0
          = active_tour.tour_title
          %br
          = active_tour.date_period_fancy
  - else
    = render 'active_tours/active_tour_disabled'
