<%= value %>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= google_api_key %>&libraries=places&callback=initMap">
</script>
<div class="ra-google-map-container" id="google_map" style="width:100%; min-height:350px"></div>

<script type="text/javascript">
  var map = {};
  function initMap() {
    var lat = <%= object.latitude %>
    var lng = <%= object.longitude %>
    var myOptions = {
      zoom: 14,
      center: new google.maps.LatLng(lat, lng),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: true
    };
    map = new google.maps.Map(document.getElementById("google_map"), myOptions);
    var marker = new google.maps.Marker({
      draggable: true,
      position: new google.maps.LatLng(lat, lng),
      map: map
    });
  }
</script>
