:javascript
  var firstSeatLabel = 1;

  function plan() {
    return "#{escape_javascript seatplan.plan}"
  }

  function seatTypes() {
    return JSON.parse('#{raw seatplan.seat_types_json.to_json}')
  }

  function fetchedSeatplan() {
    var map = [""]
    var i = 0
    var seatplan = plan()
    for (var x = 0; x < seatplan.length; x++) {
      var c = seatplan.charAt(x)
      if (c === "\n") {
        i++
        map[i] = ""
      } else {
        map[i] = map[i] + c
      }
    }
    return map
  }

  function legendItems() {
    var items = []
    $.each(seatTypes(), function(char, seat) {
      if (char !== '_')
        items.push([char, 'available', seat["category"]])
    })
    // items.push([ 'f', 'unavailable', 'Already Booked'])
    return items
  }

  function updateSelectedSeatsField(ids) {
    $('#tour_booking_coach_bookings_attributes_0_seats')[0].value = JSON.stringify(ids)
  }

  $(document).on('rails_admin.dom_ready', function() {
    var $cart = $('#selected-seats'),
      $counter = $('.js-seats').first(),
      $total = $('#coach-subtotal'),
      sc = $('#seat-map').seatCharts({
      map: fetchedSeatplan(),
      seats: seatTypes(),
      naming : {
        top : false,
        getLabel : function (character, row, column, settings) {
          return (settings.seats[character].is_seat ? firstSeatLabel++ : '');
        },
      },
      legend : {
        node : $('#legend'),
          items : legendItems()
      }
    });
  });


%style
  = render "seatplan_custom_styles.css.erb"


.row
  .col-md-5
    %div#seat-map
  .col-md-7.clearfix
    #legend
