%nav.navbar.navbar-light.navbar-toggleable-md{:style => "background-color: #e3f2fd;"}
  %a.navbar-brand{:href => root_path}
    %img.d-inline-block.align-top{:alt => "", :height => "30", :src => "https://cdn2.iconfinder.com/data/icons/maps-navigation-glyph-black/614/3684_-_Marker_II-256.png", :width => "30"}/
    Tour Platform
  .collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.mt-2.mt-md-0
      %li.nav-item
        = link_to 'Tours', root_path, class: 'nav-link'
      %li.nav-item.disabled
        %a.nav-link.disabled
          %small dec. 5 patch
    %ul.navbar-nav.mt-2.mt-md-0
      = render "layouts/navbar/#{current_user.base_role}_nav"
