.container
  %h2= @tour.title
  .preview
    = image_tag 'tour_preview_1.jpg', class: 'preview-img', style: 'margin-top: -200px'
  .pt-3
    %p= @tour.description
    = link_to 'Book Now', booking_tour_path(@tour), class: 'btn btn-success'
