.list-text-block {
  display: inline-block;
  background-color: azure;
  border: 1px dashed black;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  position: relative;
  margin-bottom: 0px;

  input[type='file'] {
    max-width: 95px;
  }

  .remove_nested_fields {
    top: 3px;
    right: 3px;
  }

  .img-thumbnail {
    max-width: 100px;
  }
}

.list-view-ul {
  min-height: 50px;
  padding-left: 0px;
  margin-bottom: 0px;
  background-color: #eee;
}

.btn-list-view {
  padding: 1px 4px;
  font-size: 11px;
}
