/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'jquery-seat-plan';
@import 'notifcenter';
@import 'rails_admin/bootstrap/glyphicons';
@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome";

#toast-container>div{
  opacity: 1;
}
///////////////// SEATPLAN FONT
.font-monospace {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}

//////////////// SEATPLAN TEXT
body {
  .rails_admin {
    &.big-text {
      font-size: 1.5rem !important;
    }
  }
}
//////////////// SEATPLAN LEGEND
#legend.overflowed {
  max-height: 300px;
  overflow-y: scroll;
}
/////////////// ALERTS
.glyphicon-big {
  font-size: 24px;
}
.glyphicon-red {
  color: #d9534f;
}

.badge-red {
  background-color: #d9534f;
}
.badge-shifted {
  transform: translate(-50%, 0);
}
//////////////// TABLE EDIT
body.rails_admin .table td.no-max-width {
  max-width: none;
}

body.rails_admin .table-wrapper-narrow {
  padding-left: 20px;
  padding-right: 20px;
}

body.rails_admin table.table-small-text {
  font-size: 12px;
}

.form-control-small-children .form-control {
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 0px;
}

body.rails_admin .width100 input {
  width: 100%;
}

.btn.btn-table {
  padding: 6px 3px;
  border-radius: 0px;
}

.margin-top-3 {
  margin-top: 35px;
}
