- content_for :javascript_body do
  = javascript_pack_tag 'show_seatplan'
  = javascript_pack_tag 'pickup_point_preview'
- content_for :dynamic_css do
  = render 'seatplan_custom_styles.css.erb'

.container.mt-5
  = render @tour_booking
