:javascript
  function plan() {
    return "#{escape_javascript form.object.to_s}"
  }
  function seatTypes() {
    return JSON.parse('#{raw SeatType.json.to_json}')
  }
  function fetchedSeatplan() {
    var map = [""]
    var i = 0
    var seatplan = plan()
    for (var x = 0; x < seatplan.length; x++) {
      var c = seatplan.charAt(x)
      if (c === "\n") {
        i++
        map[i] = ""
      } else {
        map[i] = map[i] + c
      }
    }
    return map
  }

  function legendItems() {
    var items = []
    $.each(seatTypes(), function(char, seat) {
      if (char !== '_')
        items.push([char, 'available', seat["category"]])
    })
    items.push([ 'f', 'unavailable', 'Already Booked'])
    return items
  }

  function updateSelectedSeatsField(ids) {
    $('#tour_booking_coach_bookings_attributes_0_seats')[0].value = JSON.stringify(ids)
  }

  $(document).on('rails_admin.dom_ready', function() {
    var $cart = $('#selected-seats'),
      $counter = $('.js-seats').first(),
      $total = $('#coach-subtotal'),
      sc = $('#seat-map').seatCharts({
      map: fetchedSeatplan(),
      seats: seatTypes(),
      naming : {
        top : false,
        getLabel : function (character, row, column, settings) {
          return character;
        },
      },
      legend : {
        node : $('#legend'),
          items : legendItems()
      },
      showCharInLegend: true
    });
  });

%style
  = render "seatplan_custom_styles.css.erb"

.row
  .col-md-4
    = form.text_area :plan, class: 'form-control font-monospace', cols: 12, rows: 24
  .col-md-8
    %p.rails_admin.big-text
      %strong Note:
    %ol.rails_admin.big-text
      %li Each row has to have same amount of characters.
      %li
        Only
        %em "_"
        is showed as empty space.
    #legend.overflowed
