thead { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }



.plan table {
  width: 100%;
  border-top: 2px solid black;
}
td.empty {
  border: 0;
}
.seat_row {
  font-weight: bold;
  text-align: center;
}
.seat_number {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0px;
  padding: 0px;
  text-align: right;
  color: rgb(255, 0, 255);
  font-size: 12px;
  font-weight: bold;
}
.nonseat {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}
.username {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.address {
  font-size: 9px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}



.leftcol {
  float: left;
  width: 35%;
}
.rightcol {
  float: right;
  width: 65%;
}
.leftcol-50 {
  float: left;
  width: 50%;
}
.rightcol-50 {
  float: right;
  width: 50%;
}
.footer_header {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
  font-style: italic;
}
.placeholder {
  display: inline-block;
  width: 100px;
  border-bottom: 1px dotted black;
}
div.footer:before { clear:both; }
div.footer {
  page-break-inside: avoid;
  font-size: 14px;
}
.footer table {
  text-align: right;
  width: 80%;
}
.footer .totals-row {
  font-weight: bold;
  border-top: 2px solid black;
}
