$fa-font-path: "~font-awesome/fonts";

@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap';
@import 'notifcenter';

body {
  font-family: 'Roboto', sans-serif;
}

/////////////// ALERTS
.glyphicon-big {
  font-size: 24px;
}
.glyphicon-red {
  color: #d9534f;
}

.badge-red {
  background-color: #d9534f;
}
.badge-shifted {
  transform: translate(-50%, 0);
}
